<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'users/css/login.css' %}" />

  <title>Login</title>
  <link rel="icon" href="{% static 'users/images/logo/logoicon.svg' %}" type="image/svg">
</head>

<body>
  <header>
    <!-- NAV BAR -->
    <nav class="navbar">
      <a class="logo-div" href="{% url 'homepage' %}">
        <img src="{% static 'users/images/logo/logoicon.svg' %}" class="nav-logo" alt="logo image" />
        <span class="nav-logo-text">Century Health</span>
      </a>
      <div class="nav-tabs">
        <ul>
          <li><a href="{% url 'homepage' %}">Home</a></li>
          <li><a href="{% url 'about-us' %}">About</a></li>
          <li><a href="{% url 'faq' %}">FAQ</a></li>
          <li><a href="{% url 'patient-doctor' %}">Find a Doctor</a></li>
          <li><a href="{% url 'contact' %}">Contact Us</a></li>
        </ul>
      </div>
      <div class="login">
        <ul>
          <li class="active-nav"><a href="{% url 'users:login' %}">Log In</a></li>
          <li><a href="{% url 'users:signup' %}">Sign Up</a></li>
        </ul>
      </div>
    </nav>
    <div class="topnav">
      <a href="{% url 'homepage' %}"><img src="{% static 'users/images/logo/logoicon.svg' %}"> <span class="nav-logo-text">Century
          Health</span></a>
      <!-- Navigation links (hidden by default) -->
      <div id="myLinks">
        <a href="{% url 'homepage' %}">Home</a>
        <a href="{% url 'about-us' %}">About</a>
        <a href="{% url 'faq' %}">FAQ</a>
        <a href="{% url 'patient-doctor' %}">Find a Doctor</a>
        <a href="{% url 'contact' %}">Contact Us</a>
        <a href="{% url 'users:signup' %}">Sign Up</a>
      </div>
      <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </header>
  <!-- IMAGE CONTENT -->
  <div class="content-div">
    <div class="content-logo">
      <div class="inner">
        <img src="{% static 'users/images/logo/logoicon.svg' %}" class="logo-img" alt="logo image" />
        <span class="content-span">Century Health</span>
        <h2>Let's Get You Back In</h2>
        <img src="{% static 'users/images/login/login-img.png' %}" class="content-img" alt="login image" />
      </div>
    </div>

    <!-- FORM -->
    <div class="form">
      <div class="info">
        <h1>Welcome Back!</h1>
        <h3>Log Into Your Account</h3>
      </div>
      <label for="email"></label>
      <input type="email" id="email" name="email" placeholder="Email Address" />
      <br />
      <label for="password"></label>
      <input type="password" id="password" name="password" placeholder="Password" /><br />

      <label class="checkbox">
        <input type="checkbox" name="remember"> Remember me
      </label>
      <span class="password"> <a href="#"> Forgot password?</a></span>
      <br>


      </form>
      <button type="submit" class="login-btn">Log In</button>
      <h6>OR</h6>
      <div class="social-div">
        <a href="www.facebook.com"><button class="social-btn"> <img class="icon"
              src="{% static 'users/images/logo/facebookicon.svg' %}">Login with Facebook</button></a>
        <a href="www.google.com"><button class="social-btn"> <img class="icon" src="{% static 'users/images/logo/searchicon.svg' %}">Login
            with Google</button></a>
      </div>
      <p>Don't have an account? <a class="signup-link" href="{% url 'users:signup' %}">Sign up!</a></p>
    </div>
  </div>
  <script src="{% static 'users/js/login.js' %}"></script>
</body>

</html>